{% extends "app/layout.html" %}

{% block content %}

<section id="loginForm" class="row" 
    style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); margin-top: 50px;">
    <div class="column" style="background-color: #E9F6FE; 
    float: left; width: 50%; padding: 10px;
    height: 500px; display: flex;
    align-items: center;
    justify-content: center;" >
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_lrdkqhnc.json"  background="transparent"  speed="1"  style="width: 450px; height: 400px;"  loop  autoplay></lottie-player>
    </div>
    <div class="column" style="background-color: 
    #6fb4e2; float: left;
    width: 50%;
    padding: 10px;
    height: 500px; ">
        <form action="." method="post" class="form" style="text-align:center; display: block;">
            {% csrf_token %}

            <h3 style="color: white; font-weight: 600;">Sign In.</h3>
            <hr />
            <div class="form-group">
                <label for="id_username" class="control-label" 
                style="color: white; font-weight: 450; font-size-adjust: inherit;
                margin-top: 20px; margin-bottom: 10px;">User name</label>
                <div style="font-size: 18px;">
                    {{ form.username }}
                </div>
                <!-- <input type="text" id="fname" name="username" placeholder="Your name.."> -->
            </div>
            <div class="form-group">
                <label for="id_password" class="control-label"
                style="color: white; font-weight: 450; 
                margin-top: 20px; margin-bottom: 10px;">Password</label>
                <div style="font-size: 18px; ">
                    {{ form.password }}
                </div>
                <!-- <input type="text" id="fname" name="password" placeholder="Your name.."> -->
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="hidden" name="next" value="/menu" />
                    <input type="submit" value="Log in" 
                    style="border-radius: 50px; margin-top: 20px; 
                            height: 35px; margin-left: 30px;"
                    class="btn-primary btn-md btn-block mx-auto" />
                </div>
            </div>
            {% if form.errors %}
            <p class="validation-summary-errors">Please enter a correct user name and password.</p>
            {% endif %}
        </form>
    </div>
</section>

{% endblock %}
    {% load static %}
        <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/Login.css' %}" />
    {% block scripts %}
{% endblock %}
