{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<section id="loginForm" class="row">
    <div class="column" style="background-color: #E9F6FE; 
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; " >
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_lrdkqhnc.json"  background="transparent"  speed="1"  style="width: 450px; height: 400px;"  loop  autoplay></lottie-player>
    </div>
    <div class="column" style="background-color: 
    #6fb4e2; float: left;
    width: 50%;
    padding: 10px;
    height: 500px; ">
        <form action="." method="post" class="form" style="text-align:center; display: block;">
            {% csrf_token %}

            <h3>Sign In.</h3>
            <hr />
            <div class="form-group">
                <label for="id_username" class="control-label" >User name</label>
                <div >
                    {{ form.username }}
                </div>
                <!-- <input type="text" id="fname" name="username" placeholder="Your name.."> -->
            </div>
            <div class="form-group">
                <label for="id_password" class="control-label" name="password">Password</label>
                <div >
                    {{ form.password }}
                </div>
                <!-- <input type="text" id="fname" name="password" placeholder="Your name.."> -->
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="hidden" name="next" value="/menu" />
                    <input type="submit" value="Log in" class="btn btn-default" />
                </div>
            </div>
            {% if form.errors %}
            <p class="validation-summary-errors">Please enter a correct user name and password.</p>
            {% endif %}
        </form>
    </div>
</section>

{% endblock %}




{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/Login.css' %}" />

    
{% block scripts %}
{% endblock %}
