{% extends "../app/layout.html" %}

{% block content %}
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/VSPR.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar.css' %}">
   <link rel="stylesheet" href="{% static 'app/content/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 <!-- HTML for the button and sidebar -->
 <button id="sidebar-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
 </button>

<div id="sidebar">
   <!-- Sidebar content goes here -->
{#    manager and customer#}
   <a href="{% url 'dashboard' %}">
    <img src="{% static 'app/assets/Home.png' %}" alt="Home" width="25"
    height="25" style="margin-right:10px;">
        Home
    </a>

    {% if customer %}
        <a href="{% url 'add_PR' %}" style="right:10px; position:relative;">
            <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
            height="40" style=" margin-right:5px;">
            Add Purchase Requisition
        </a>

        <a href="{% url 'view_PR' %}">
            <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
            height="30" style="margin-right:10px;">
            View and Sort Purchase Requisition
        </a>

        <a href="{% url 'view_all_quotation' %}">
            <img src="{% static 'app/assets/ViewQ.png' %}" alt="ViewQ"  style="margin-right:15px;">
            View Quotation
        </a>

        {% elif manager %}
        <a href="{% url 'view_active_quotation' %}" style="right:10px; position:relative;">
            <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
            height="40" style=" margin-right:5px;">
            Quotation
        </a>

        <a href="{% url 'view_all_quotation' %}">
            <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
            height="30" style="margin-right:10px;">
            History of Quotations
        </a>
    {% endif %}
  </div>

  <div id="main">
    <br/>
    <div id="header">
      <h2> View Quotations</h2>
    </div>

    <div id="main_content">
        <div id="header2" >
              <table>
                <tr style="position: relative; top:-6px;">
                    <th>Quotation ID</th>
                    <th>Salesman ID</th>
                    <th>Item Name</th>
                    <th>Item Quantity</th>
                    <th>Item Price</th>
                    <th>Total Price</th>
                    <th>Date</th>
                    <th>
                        {% if manager %}
                    <select class="btn-primary btn-md btn-block mx-auto" style="height: 30px; width: 130px; border-radius: 50px;" onchange="sortTable(this.value)">
                        <option value="" disabled selected>Sort by</option>
                        <option value="total_price">Total Price (Ascending)</option>
                        <option value="-total_price">Total Price (Descending)</option>
                        <option value="date">Date (Ascending)</option>
                        <option value="-date">Date (Descending)</option>
                        <option value="salesman_id">Salesman Id (Ascending)</option>
                        <option value="-salesman_id">Salesman Id (Descending)</option>
                    </select>
                        {% endif %}
                    </th>
                </tr>
        {% for Q in Quotations %}
                <tr>
                  <td>{{ Q.quotation_id }}</td>
                  <td>{{ Q.salesman_id }}</td>
                  <td>
                      <span class="inside-table">
                      {% for Q_item in Quotation_item %}
                          {% if Q_item.quotation_id_id == Q.quotation_id %}
                              <span>{{ Q_item.q_item_name }}</span>
                          {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>
                      <span class="inside-table">
                      {% for Q_item in Quotation_item %}
                          {% if Q_item.quotation_id_id  == Q.quotation_id %}
                                <span>{{ Q_item.q_item_quantity }}</span>
                           {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>
                      <span class="inside-table">
                      {% for Q_item in Quotation_item %}
                          {% if Q_item.quotation_id_id == Q.quotation_id %}
                             <span>{{ Q_item.q_item_price }}</span>
                          {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>{{ Q.total_price }}</td>
                <td>{{ Q.date }}</td>
                <td>
                  <a href="{% url 'view_one_quotation' Q.quotation_id %}" class="btn-primary btn-md btn-block mx-auto" style="height: 25px; width: 100px; border-radius: 50px;">View Details</a>
                </td>

                </tr>
               {% endfor %}
              </table>

        </div>


    </div>

</div>
    <script src="{% static 'app/scripts/custom/sideBar.js' %}"></script>
    <script>
    function sortTable(sortBy) {
        window.location.href = '/view_all_quotation/' + sortBy;
    }
   $("#sort-select").change(function(){
    sortTable(this.value);
    });
    </script>
  {% endblock %}
