{% extends "../app/layout.html" %}

{% block content %}
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/VSPR.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar.css' %}">
   <link rel="stylesheet" href="{% static 'app/content/dashboard.css' %}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 <!-- HTML for the button and sidebar -->
 <button id="sidebar-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
 </button>

<div id="sidebar">
   <!-- Sidebar content goes here -->
   <a href="{% url 'dashboard' %}">
    <img src="{% static 'app/assets/Home.png' %}" alt="Home" width="25"
    height="25" style="margin-right:10px;">
        Home
    </a>
         <a href="{% url 'view_active_quotation' %}" style="right:10px; position:relative;">
            <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
            height="40" style=" margin-right:5px;">
            Quotation
        </a>

        <a href="{% url 'view_all_quotation' %}">
            <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
            height="30" style="margin-right:10px;">
            History of Quotations
        </a>
  </div>

  <div id="main">
    <br/>
    <div id="header">
      <h2> Accept or Decline Quotations</h2>
    </div>

    <div id="main_content">
        <div id="header2" >
              <table>
                    <tr style="position: relative; top:-6px;">
                          <th>Quotation ID</th>
                          <th>Item Name</th>
                          <th>Item Quantity</th>
                         <th>Item Price</th>
                        <th>Total Price</th>
                          <th>Date</th>
                          <th> </th>
                    </tr>
        {% for Q in Quotations %}
                <tr data-id="{{ Q.quotation_id }}">
                  <td>{{ Q.quotation_id }}</td>
                  <td>
                      <span class="inside-table">
                      {% for Q_item in Quotation_item %}
                          {% if Q_item.quotation_id_id == Q.quotation_id %}
                              <span>{{ Q_item.q_item_name }}</span>
                          {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>
                      <span class="inside-table">
                      {% for Q_item in Quotation_item %}
                          {% if Q_item.quotation_id_id  == Q.quotation_id %}
                                <span>{{ Q_item.q_item_quantity }}</span>
                           {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>
                      <span class="inside-table">
                      {% for Q_item in Quotation_item %}
                          {% if Q_item.quotation_id_id == Q.quotation_id %}
                             <span>{{ Q_item.q_item_price }}</span>
                          {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>{{ Q.total_price }}</td>
                <td>{{ Q.date }}</td>
                <td>
                    <button id="submit-button" class="btn-success btn-md btn-block mx-auto" style="height: 25px; width: 100px; border-radius: 50px;" onclick="updateStatus(this,'Approved')">Approve</button>
                    <button id="decline-button" class="btn-danger btn-md btn-block mx-auto" style="height: 25px; width: 100px; border-radius: 50px;" onclick="updateStatus(this,'Rejected')">Decline</button>
                </td>


                </tr>
               {% endfor %}
              </table>
        </div>


    </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The quotation have been approved
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/'">Okay</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The quotation have been Rejected
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/'">Okay</button>
      </div>
    </div>
  </div>
</div>
    <script src="{% static 'app/scripts/custom/sideBar.js' %}"></script>
<script>
function updateStatus(el,status_type){
    const quotation_id =el.closest("tr").getAttribute("data-id");
    console.log(status_type, quotation_id)
    $.ajax({
        type: 'POST',
        url: '/update_quotation/',
        data: {
        "quotation_id": quotation_id,
        "status_type": status_type
        },
        dataType: "json",
        success: function (data) {
            if(status_type === 'Approved'){
            $('#exampleModal').modal('show')
            }else{
            $('#exampleModal1').modal('show')
            }

        },
        failure: function () {
        alert("failure");
        }
    });
    }
</script>

  {% endblock %}
