{% extends "../app/layout.html" %}

{% block content %}
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/VSPR.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar2.css' %}">
   <link rel="stylesheet" href="{% static 'app/content/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 <!-- HTML for the button and sidebar -->
 <button id="sidebar-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
 </button>

<div id="sidebar">
   <!-- Sidebar content goes here -->
   <a href="{% url 'dashboard' %}">
    <img src="{% static 'app/assets/Home.png' %}" alt="Home" width="25"
    height="25" style="margin-right:10px;">
        Home
    </a>
         <a href="{% url 'add_PO' %}" style="right:10px; position:relative;">
            <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
            height="40" style=" margin-right:5px;">
            Add Purchase Order
        </a>

        <a href="{% url 'view_PO' %}">
            <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
            height="30" style="margin-right:10px;">
            View and Sort Purchase Orders
        </a>
  </div>

  <div id="main">
    <br/>
    <div id="header">
      <h2> View Purchase Orders</h2>
    </div>

    <div id="main_content">
        <div id="header2" >
              <table>
                    <tr style="position: relative; top:-15px;">
                          <th>Purchase Order ID</th>
                        <th>Salesman ID</th>
                          <th>Item Name</th>
                          <th>Item Quantity</th>
                         <th>Item Price</th>
                        <th>Total Price</th>
                          <th>Date</th>
                          <th>
                          <select class="btn-primary btn-md btn-block mx-auto" 
                          style="color:#2D92E2 ; width: 130px;
                          height: 34px; border: none; border-radius: 50px;background: #E9F6FE;
                          font-weight: 700;" onchange="sortTable(this.value)"
                          onchange="sortTable(this.value)">
                            <option value="" disabled selected>Sort by</option>
                            <option value="total_price">Total Price (Ascending)</option>
                            <option value="-total_price">Total Price (Descending)</option>
                            <option value="date">Date (Ascending)</option>
                            <option value="-date">Date (Descending)</option>
                            <option value="salesman_id">Salesman Id (Ascending)</option>
                            <option value="-salesman_id">Salesman Id (Descending)</option>
                          </select>
                          </th>
                    </tr>
        {% for Pur in PO %}
                <tr>
                  <td>{{ Pur.po_id }}</td>
                <td>{{ Pur.salesman_id }}</td>
                  <td>
                      <span class="inside-table">
                      {% for item in PO_item %}
                          {% if item.po_id_id == Pur.po_id %}
                              <span>{{ item.po_item_name }}</span>
                          {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>
                      <span class="inside-table">
                      {% for item in PO_item %}
                           {% if Pur.po_id  == item.po_id_id %}
                                <span>{{ item.po_item_quantity }}</span>
                           {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>
                      <span class="inside-table">
                      {% for item in PO_item %}
                          {% if Pur.po_id == item.po_id_id %}
                             <span>{{ item.po_item_price }}</span>
                          {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>{{ Pur.total_price }}</td>
                <td>{{ Pur.date }}</td>
                <td>
                          <a href="{% url 'view_one_PO' Pur.po_id %}" class="btn-primary btn-md btn-block mx-auto" 
                          style="height: 25px; width: 100px; border-radius: 50px; background-color: #2D92E2;">View Details</a>
                </td>
                </tr>
               {% endfor %}
              </table>

        </div>


    </div>

</div>
    <script src="{% static 'app/scripts/custom/sideBar.js' %}"></script>
    <script>
    function sortTable(sortBy) {
        window.location.href = '/view_PO/' + sortBy;
    }
   $("#sort-select").change(function(){
    sortTable(this.value);
    });
    </script>

  {% endblock %}
