{% extends "./layout.html" %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar.css' %}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <!-- HTML for the button and sidebar -->
 <button id="sidebar-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
 </button>

 <div id="sidebar">
   <!-- Sidebar content goes here -->
   <a href="{% url 'dashboard' %}">
    <img src="{% static 'app/assets/Home.png' %}" alt="Home" width="25"
    height="25" style="margin-right:10px;">
        Home
    </a>
    {% if salesman %}
        <a href="{% url 'view_purchase_requisition' %}" >
            <img src="{% static 'app/assets/ViewQ.png' %}" alt="AddButton2" style="margin-right:15px;">
                Purchase Requisition 
        </a>

        <a href="{% url 'add_quotation' %}">
            <img src="{% static 'app/assets/AddButton2.png' %}" alt="ViewQ"   width="45"
            height="40">
                Add Quotation
        </a>

        <a href="{% url 'view_quotation' %}">
            <img src="{% static 'app/assets/View.png' %}" alt="ViewQ" width="30"
            height="30" style="margin-right:10px;">
                View and Sort Quotation
        </a>
    {% elif customer %}
        <a href="{% url 'add_PR' %}" style="right:10px; position:relative;">
            <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
            height="40" style=" margin-right:5px;">
            Add Purchase Requisition
        </a>

        <a href="{% url 'view_PR' %}">
            <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
            height="30" style="margin-right:10px;">
            View and Sort Purchase Requisition
        </a>

        <a href="{% url 'view_all_quotation' %}">
            <img src="{% static 'app/assets/ViewQ.png' %}" alt="ViewQ"  style="margin-right:15px;">
            View Quotation
        </a>

        {% elif finance_officer %}
        <a href="{% url 'add_PO' %}" style="right:10px; position:relative;">
            <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
            height="40" style=" margin-right:5px;">
            Add Purchase Order
        </a>

        <a href="{% url 'view_PO' %}">
            <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
            height="30" style="margin-right:10px;">
            View and Sort Purchase Orders
        </a>

        {% elif manager %}
        <a href="{% url 'view_active_quotation' %}" style="right:10px; position:relative;">
            <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
            height="40" style=" margin-right:5px;">
            Quotation
        </a>

        <a href="{% url 'view_all_quotation' %}">
            <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
            height="30" style="margin-right:10px;">
            History of Quotations
        </a>
    {% endif %}

 </div>

  <div id="main">
    <br/>
    <div id="header">
        <h2>Profile</h2>
    </div>
    <br/>
    <div id="form">
        <div class="col">   
        <h2>
            ID <input readonly type="text" label="Username" name="Username" 
            style="margin-left: 40px;" placeholder="{{ sys_id }}">
        </h2>

        <h2>
            Name <input readonly type="text" label="Name" name="Name" 
            placeholder="{{ user.username }}">
        </h2>

        <h2>
            Email <input readonly type="email" label="Email" name="Email" 
            placeholder="{{ user.email }}">
        </h2>

        </div>
        <div class="col">
            <h2>Password <input readonly type="Password" label="Password" 
                placeholder="{{ user.password }}" name="Password" style="margin-left:48px;" value="FakePSW"></h2>
            
            <h2>Account Type<input readonly type="text" label="AccType" 
                name="AccType" placeholder="{{ role }}"></h2>
        </div>
    </div>
</div>
<script src="{% static 'app/scripts/custom/sideBar.js' %}"></script>

{% endblock %}