{% extends "../app/layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/VSPR.css' %}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 <!-- HTML for the button and sidebar -->
 <button id="sidebar-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
 </button>
 
 <div id="sidebar">
   <!-- Sidebar content goes here -->
   <a href="{% url 'dashboard' %}">
    <img src="{% static 'app/assets/Home.png' %}" alt="Home" width="25"
    height="25" style="margin-right:10px;"> 
    Home
    </a>
   
    <a href="{% url 'apr' %}" style="right:10px; position:relative;">
    <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
    height="40" style=" margin-right:5px;">
    Add Purchase Requisition
    </a>
   
    <a href="{% url 'vspr' %}">
    <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
    height="30" style="margin-right:10px;">
    View and Sort Purchase Requisition
    </a>

   <a href="{% url 'vq' %}">
    <img src="{% static 'app/assets/ViewQ.png' %}" alt="ViewQ"  style="margin-right:15px;">
    View Quotation
    </a>

 </div>

  <div id="main">
    <br/>
    <div id="header">
      <a href="{% url 'apr' %}"><img src="{% static 'app/assets/AddButton.png' %}" alt="AddButton" width="40"
     height="40"> <h2>Add Purchase Requisition</h2></a>
     
    </div>
    <br/>
   
</div>

<script>
    // JavaScript for toggling the sidebar on and off
    var button = document.getElementById('sidebar-button');
    var sidebar = document.getElementById('sidebar');
    var main = document.getElementById('main');

    button.addEventListener('click', function() {
      if (sidebar.style.display === 'block') {
        sidebar.style.display = 'none';
        button.classList.remove('clicked');
        main.style.marginLeft = '0px';
        
      } else {
        sidebar.style.display = 'block';
        button.classList.add('clicked');
        main.style.marginLeft = '120px';
        
      }
    });
  </script>

  {% endblock %}
</html>