#sidebar-button {
    /* Button styling goes here */
    height:100%;
    width:25px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background: linear-gradient(0deg, rgba(49, 112, 222, 0.33), rgba(49, 112, 222, 0.33)), linear-gradient(0deg, #BAD7E9, #BAD7E9), #BAD7E9;
    overflow-x: hidden;
    border: none;
    padding-top:50px;
  }
  #sidebar-button.clicked {
    /* Button styling when clicked goes here */
    left: 225px;
  }
  #sidebar {
    /* Sidebar styling goes here */
    height:100%;
    border: none;
    width:225px;
    position: fixed;
    z-index:1;
    top:3;
    left:0;
    background: rgba(49, 112, 222, 0.9);
    overflow-x: hidden;
    padding-top: 50px;
    display: none;
  }
  #sidebar.active{
    display:block;
    }
  #sidebar-button i{
    color : #fff;
  }
  #sidebar a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:15px;
    color: #fff;
    margin-top: 25px;
    display:block;
}

#sidebar a:hover{
    font-weight: bold;
    text-decoration: underline;
}
#main{
    position: relative;
    width: 1030px;
    height: 449px;
    left: 5%;
    top: 70px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-bottom: 160px;
}
#header{
    position: absolute;
    width: 1010px;
    height: 45px;
    align-items: center;
    text-align: center;
    background: #E9F6FE;
    border-radius: 30px;
    left: 10px;
}
#header h2{
    position: absolute;
    width: 746px;
    height: 45px;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 10px;
    color: #2D92E2;
    left: 15%;
}
#form{
    position: absolute;
    margin-top: 50px;
    left: 5%;
    float: left;
    width: 100%;
    display: flex;
}
#form .col{
    content: "";
    display: table;
    clear: both;
    flex: 50%;
}
#form .col h2{
    height: 35px;
    left: 239px;
    top: 229px;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 525;
    font-size: 18px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #2D92E2;
    margin-top: 40px;
}
#form .col h2 input{
    height: 35px;
    left: 273px;
    margin-left: 20px;
    padding-left: 25px;
    padding-right: 25px;
    top: 229px;
    border: none;
    background: #E9F6FE;
    border-radius: 50px;
    
}
::placeholder{
    color: #2C9BE5;
}