      
#sidebar-button {
    /* Button styling goes here */
    height:100%;
    width:25px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background: linear-gradient(0deg, rgba(49, 112, 222, 0.33), rgba(49, 112, 222, 0.33)), linear-gradient(0deg, #BAD7E9, #BAD7E9), #BAD7E9;
    overflow-x: hidden;
    border: none;
    padding-top:50px;
  }
  #sidebar-button.clicked {
    /* Button styling when clicked goes here */
    left: 225px;
  }

  #sidebar {
    /* Sidebar styling goes here */
    height:100%;
    border: none;
    width:225px;
    position: fixed;
    z-index:1;
    top:3;
    left:0;
    background: rgba(49, 112, 222, 0.9);
    overflow-x: hidden;
    padding-top:50px;
       display: none;
  }
  #sidebar-button i{
    color : #fff;
  }
  #sidebar a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:15px;
    color: #fff;
    margin-top: 25px;
    display:block;
 }

#sidebar a:hover{
    font-weight: bold;
    text-decoration: underline;
}
#main{
    position: relative;
    width: 1030px;
    height: 449px;
    left: 5%;
    top: 70px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-bottom: 160px;
}
#header{
    position: absolute;
    width: 1010px;
    height: 45px;
    align-items: left;
    text-align: left;
    background: #E9F6FE;
    border-radius: 30px;
    left: 10px;
    margin-bottom: 20px;
}
#header a h2{
    position: absolute;
    width: 746px;
    height: 45px;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 10px;
    color: #2D92E2;
    left: 7%;
    top:-3px;
}

#header a img{
    margin-left: 28px;
  }
#PurTable{
  position: relative;
  margin-top: 60px;
  
}
.Subheading{
  position: absolute;
  left: 20px;
  background-color: #E9F6FE;
  height: 34px;
  width: 800px;
  border-radius: 30px;
 
}
.Subheading th{
  position: relative;
  margin-left: 150px;
  width: 200px;
  top: 7px;
  padding-left: 40px;
  color: #2D92E2;
}

.sortby{
  background-color: #FFFFFF;
  width: 20px;
  margin-right:100px;
}

.content{
  position: absolute;
  left: 20px;
  height: 34px;
  width: 800px;
  border-radius: 30px;
} 

.content th{
  position: relative;
  margin-left: 150px;
  width: 200px;
  padding-left: 40px;
  color: #BDBDBD;
  padding-top: 50px; 
}