      
#sidebar-button {
    /* Button styling goes here */
    height:100%;
    width:25px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background: linear-gradient(0deg, rgba(49, 112, 222, 0.33), rgba(49, 112, 222, 0.33)), linear-gradient(0deg, #BAD7E9, #BAD7E9), #BAD7E9;
    overflow-x: hidden;
    border: none;
    padding-top:50px;
  }
  #sidebar-button.clicked {
    /* Button styling when clicked goes here */
    left: 225px;
  }

  #sidebar {
    /* Sidebar styling goes here */
    height:100%;
    border: none;
    width:225px;
    position: fixed;
    z-index:1;
    left:0;
    background: rgba(49, 112, 222, 0.9);
    overflow-x: hidden;
    padding-top:50px;
       display: none;
  }
  #sidebar-button i{
    color : #fff;
  }
  #sidebar a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:15px;
    color: #fff;
    margin-top: 25px;
    display:block;
 }

#sidebar a:hover{
    font-weight: bold;
    text-decoration: underline;
}

#header a img{
    margin-left: 28px;
  }

  #main_content{
    position: relative;
  }
  #header2{
    position: absolute;
    justify-content: space-between;
    margin-top: 60px;
    height: 34px;
    background-color: #E9F6FE;
    border-radius: 30px;
    width: 100%;
  }
  #header2 table{
    margin-top: 6px;
    margin-bottom: 6px;
  }
  #header2 table tr{
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #2D92E2;
  }
table {
  width: 100%; /* set the width of the table to 100% of the parent container */
  border-collapse: collapse; /* remove the space between cells */
  margin-bottom: 20px; /* add margin to the bottom of the table */
}
tr{
  height: 35px;
  border-bottom: 1px solid #3166c1 ;
}
th{
  padding: 8px; /* add padding to the cells */
  text-align: center; /* center align the text in the cells */
}

td {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.inside-table{
   display: flex;
  flex-direction: column;
}

.inside-table span {
  padding: 8px;
  flex-direction: row;
}