{% extends "../app/layout.html" %}

{% block content %}
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/VSPR.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar2.css' %}">
   <link rel="stylesheet" href="{% static 'app/content/dashboard.css' %}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 <!-- HTML for the button and sidebar -->
 <button id="sidebar-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
 </button>

<div id="sidebar">
   <!-- Sidebar content goes here -->
   <a href="{% url 'dashboard' %}">
    <img src="{% static 'app/assets/Home.png' %}" alt="Home" width="25"
    height="25" style="margin-right:10px;">
        Home
    </a>
    <a href="{% url 'view_purchase_requisition' %}" >
        <img src="{% static 'app/assets/ViewQ.png' %}" alt="AddButton2" style="margin-right:15px;">
            Purchase Requisition 
    </a>

    <a href="{% url 'add_quotation' %}">
        <img src="{% static 'app/assets/AddButton2.png' %}" alt="ViewQ"   width="45"
        height="40">
            Add Quotation
    </a>

    <a href="{% url 'view_quotation' %}">
        <img src="{% static 'app/assets/View.png' %}" alt="ViewQ" width="30"
        height="30" style="margin-right:10px;">
            View and Sort Quotation
    </a>
  </div>

  <div id="main">
    <br/>
    <div id="header">
      <h2> View Purchase Requisitions</h2>
    </div>

    <div id="main_content">
        <div id="header2" >
              <table>
                    <tr>
                          <th>Purchase Requisition ID</th>
                          <th>Customer ID</th>
                          <th>Item Name</th>
                          <th>Item Quantity</th>
                          <th>Date</th>
                          <th></th>
                    </tr>
        {% for purchase in Pr %}
                <tr>
                  <td>{{ purchase.pr_id }}</td>
                  <td>{{ purchase.customer_id }}</td>
                  <td>
                      <span class="inside-table">
                      {% for purchase_item in Pr_item %}
                          {% if purchase_item.pr_id_id == purchase.pr_id %}
                          <span>{{ purchase_item.pr_item_name }}</span>
                          {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>
                      <span class="inside-table">
                      {% for purchase_item in Pr_item %}
                          {% if purchase_item.pr_id_id == purchase.pr_id %}
                          <span>{{ purchase_item.pr_item_quantity }}</span>
                          {% endif %}
                       {% endfor %}
                      </span>
                  </td>
                <td>{{ purchase.date }}</td>
                <td>
                   <a href="{% url 'view_one_PR' purchase.pr_id %}" class="btn-primary btn-md btn-block mx-auto" style="height: 25px;
                    width: 100px; border-radius: 50px; background-color: #2D92E2;">View Details</a>
                </td>
                </tr>
               {% endfor %}
              </table>

        </div>


    </div>

</div>
    <script src="{% static 'app/scripts/custom/sideBar.js' %}"></script>
  {% endblock %}
