{% extends "../app/layout.html" %}

{% block content %}
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/quotation.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 <!-- HTML for the button and sidebar -->
 <button id="sidebar-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
 </button>
 
 <div id="sidebar">
   <!-- Sidebar content goes here -->
   <a href="{% url 'dashboard' %}">
    <img src="{% static 'app/assets/Home.png' %}" alt="Home" width="25"
    height="25" style="margin-right:10px;"> 
    Home
    </a>
   
    <a href="{% url 'add_PR' %}" style="right:10px; position:relative;">
    <img src="{% static 'app/assets/AddButton2.png' %}" alt="AddButton2" width="45"
    height="40" style=" margin-right:5px;">
    Add Purchase Requisition
    </a>
   
    <a href="{% url 'view_PR' %}">
    <img src="{% static 'app/assets/View.png' %}" alt="View" width="30"
    height="30" style="margin-right:10px;">
    View and Sort Purchase Requisition
    </a>

   <a href="{% url 'view_all_quotation' %}">
    <img src="{% static 'app/assets/ViewQ.png' %}" alt="ViewQ"  style="margin-right:15px;">
    View Quotation
    </a>

 </div>

<div id="main">
    <br/>
    <div id="header">
        <h2 style="left: 14%;">Add Purchase Requisition</h2>
        <div class="form-container" style="margin-top:25px;">
            <form method="post" id="form">
                {% csrf_token %}
                {{ form }}
                <div class="form-row">
                    <div class="col">
                        <label for="p-tag" style=" font-family: 'Inknut Antiqua';
                        font-style: normal;font-weight: 700;
                        font-size: 17px;line-height: 15px;">Purchase Requisition ID</label>
                        <input type="text" class="form-control"
                        required name="pr_id" id="p-tag"
                        pattern="^PR[A-Za-z0-9]{4}$"
                        placeholder="PRXXXX"
                        style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border:none;">
                    </div>

                </div>

                <div class="form-row">
                    <div class="col">
                        <label class="p-tag" for="customer_id"style=" font-family: 'Inknut Antiqua';
                        font-style: normal;font-weight: 700;
                        font-size: 17px;line-height: 15px;">Customer ID</label>
                          <input type="text" class="form-control"
                                 id="customer_id"
                                required name="customer_id"
                                value="{{ customer_id }}" readonly
                                style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border:none;">
                    </div>
                  </div>

                <div class="form-row">
                    <div class="col">
                        <label class="p-tag" for="date"style=" font-family: 'Inknut Antiqua';
                        font-style: normal;font-weight: 700;
                        font-size: 17px;line-height: 15px;">Date</label>
                        <input type="date" class="form-control" id="date" name="date"
                        style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border:none;">
                    </div>
                    <div class="col">
                        <label for="numberOfFields"style=" font-family: 'Inknut Antiqua';
                        font-style: normal;font-weight: 700;
                        font-size: 17px;line-height: 15px;">Add Item</label>
                        <input type="number" class="form-control add-field-input"
                               name="number_of_items"
                               id="numberOfFields" value="" 
                               style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border:none;">
                    </div>
                </div>

                <div class="items-container"></div>

                <div class="col-md-offset-3 col-md-10 " >
                    <input type="submit" value="Submit" id="submit-button"
                    class="btn-primary btn-md btn-block mx-auto" />
                </div>

                <div class="invalid-feedback" id="error-message"></div>
            </form>
        </div>
    </div>
    <br/>

</div>
       <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Form Submitted successfully!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/view_PR'">Redirect</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'app/scripts/custom/PurchaseRequisition.js' %}"> </script>
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
<script src="{% static 'app/scripts/custom/sideBar.js' %}"></script>

{% endblock %}