{% extends "../app/layout.html" %}

{% block content %}
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/quotation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <div id="main">
    <br/>
    <div id="header">
        <h2>Add Quotation</h2>
        <div class="form-container">
            <form>
                <div class="form-row">
                    <div class="col">
                        <p class="p-tag">Quotation ID</p>
                        <input type="text" class="form-control" placeholder="Quotation ID">
                    </div>
                    <div class="col">
                        <p class="p-tag">Purchase Requisiton ID</p>
                        <input type="text" class="form-control" placeholder="Purchase Requisition ID">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <p class="p-tag">Salesman ID</p>
                      <input type="text" class="form-control" value="{{ salesman_id }}"  disabled>
                    </div>
                    <div class="col">
                        <p class="p-tag">Manager ID</p>
                      <input type="text" class="form-control" placeholder="Manager ID">
                    </div>
                  </div>
                <div class="form-row">
                    <div class="col">
                        <p class="p-tag">Date</p>
                        <input type="date" class="form-control" >
                    </div>
                    <div class="col">
                        <p class="p-tag">Date</p>
                        <input type="button" class="form-control" placeholder="Salesman ID">
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-10 " >
                    <input type="submit" value="Submit" 
                    style="border-radius: 50px; margin-top: 20px; 
                            height: 35px; margin-left: 30px;"
                    class="btn-primary btn-md btn-block mx-auto" />                </div>
            </form>
        </div>
        

    </div>
    <br/>
   
</div>
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>

{% endblock %}