{% extends "../app/layout.html" %}

{% block content %}

<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/quotation.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/sideBar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <button id="sidebar-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
 </button>

 <div id="sidebar">
   <!-- Sidebar content goes here -->
   <a href="{% url 'dashboard' %}">
    <img src="{% static 'app/assets/Home.png' %}" alt="Home" width="25"
    height="25" style="margin-right:10px;">
        Home
    </a>
    <a href="{% url 'view_purchase_requisition' %}" >
        <img src="{% static 'app/assets/ViewQ.png' %}" alt="AddButton2" style="margin-right:15px;">
            Purchase Requisition 
    </a>

    <a href="{% url 'add_quotation' %}">
        <img src="{% static 'app/assets/AddButton2.png' %}" alt="ViewQ" 
         width="55"  height="50">
            Add Quotation
    </a>

    <a href="{% url 'view_quotation' %}">
        <img src="{% static 'app/assets/View.png' %}" alt="ViewQ" width="30"
        height="30" style="margin-right:10px;">
            View and Sort Quotation
    </a>
  </div>
  <div id="main">
    <br/>
    <div id="header">
        <h2 style="left:15%;">Add Quotations</h2>
        <div class="form-container">
            <form method="post" id="form">
                {% csrf_token %}
                {{ form }}
                <div class="form-row">
                    <div class="col">
                        <label class="p-tag">Quotation ID</label>
                        <input type="text" class="form-control"
                        pattern="^QU[A-Za-z0-9]{4}$"
                        required name="quotation_id"
                        placeholder="QUXXXX"
                        style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border: none;">
                    </div>

                    <div class="col">
                        <label class="p-tag" for="inputGroupSelect01">Purchase Requisition ID</label>
                        <select class="form-control" required  id="inputGroupSelect01"
                        name="pr_id" onchange="updateCustomerId()" 
                        style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border: none;">
                            <option selected>Choose...</option>
                            {% for pr in pr_id %}
                                <option value="{{ pr }}">{{ pr }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label class="p-tag" for="salesman_id">Salesman ID</label>
                          <input type="text" class="form-control"
                                 id="salesman_id"
                                required name="salesman_id"
                                value="{{ salesman_id }}" readonly
                                style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border: none;">
                    </div>
                    <div class="col">
                        <label for="customer_id">Customer ID</label>
                        <input type="text" class="form-control" required id="customer_id" 
                        name="customer_id" value="" readonly
                        style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border: none;">
                    </div>
                  </div>

                <div class="form-row">
                    <div class="col">
                        <label class="p-tag" for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date"
                        style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border: none;">
                    </div>
                    <div class="col" style="right:20px;">
                        <label for="numberOfFields">Add Item</label>
                        <input type="number" class="form-control add-field-input"
                               name="number_of_items"
                               id="numberOfFields" value="" 
                               style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border: none;">
                    </div>
                </div>

                <div class="items-container"></div>
                <div class="form-row">
                    <div class="col" style="display: none;">
                        <label class="p-tag" for="status">Status</label>
                        <input type="text" id="status" name="status" class="form-control" readonly value="Uncleared">
                    </div>
                    <div class="col">
                        <label class="p-tag" for="price">Total Price</label>
                        <input type="number" name="total_price" id="price" class="form-control total_price" readonly
                        style="background: rgba(233, 246, 254, 0.7);
                        border-radius: 50px; border: none;">
                    </div>


                </div>
                <div class="col-md-offset-3 col-md-10 " >
                    <input type="submit" value="Submit" id="submit-button"
                    class="btn-primary btn-md btn-block mx-auto"
                    style= "background-color: #2D92E2;" />   
                </div>

            <div class="invalid-feedback" id="error-message"></div>
            </form>
        </div>
    </div>
</div>
          <!-- Success model -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Form Submitted successfully!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/view_quotation'">Redirect</button>
      </div>
    </div>
  </div>
</div>

{# Error model #}
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        One or more fields are invalid, please check the form and try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'app/scripts/custom/quotation.js' %}"> </script>
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
<script src="{% static 'app/scripts/custom/sideBar.js' %}"></script>

{% endblock %}